$primary-color: rgb(5, 5, 87);
$secondary-color: rgb(0, 150, 219);

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
}

nav {
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 20px;
    font-size: 40px;

    img {
        height: 70px;
    }
}

nav,
nav * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.button {
    border: 2px black solid;
    border-radius: 5px;
    background-color: white;
    color: black;
    height: 40px;
    width: 120px;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

a:link,
a:visited {
    text-decoration: none;
}

#logo {
    font-family: sans-serif;
    color: $primary-color;
}

.here {
    img {
        height: 190px;
    }
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 20px;
    vertical-align: middle;
    align-items: center;
    color: $primary-color;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    img {
        height: 500px;
    }
    .button {
        background-color: $primary-color;
        color: white;
        margin-bottom: 40px;
        position: relative;
        align-self: center;
        
    }
}

h1 {
    color: $secondary-color;
    margin: 40px;
    font-size: 35px;
    margin-top: 0cm;
}

h2 {
    color: $primary-color;
    margin: 40px;
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    color: $secondary-color;
    font-size: 25px;
    margin-bottom: 40px;
}

h4 {
    font-size: 30px;
    color: $primary-color;
}

p {
    color: $primary-color;
    font-size: 18px;
    margin-bottom: 30px;
}

footer {
    a {
        display: flex;
        justify-content: center;
        height: 40px;
        background-color: beige;
        color: $primary-color;
        font-size: 25px;
        position: relative;
    }
}


